# 한국투자증권 API 키 (모의투자용)
# 이곳에 본인의 정보를 입력한 뒤, 파일 이름을 '.env'로 변경해주세요.
APP_KEY=your_app_key_here
APP_SECRET=your_app_secret_here
CANO=your_account_number_here
ACNT_PRDT_CD=your_account_product_code_here
URL_BASE=https://openapivts.koreainvestment.com:29443
